.the-whole-thing {
	width: 100%;
}

.btn {
	clear: both;
}

/** Add css rules here for your application. */
body {
	margin: 0 !important;
	padding: 0;
}

a {
	color: initial !important;
	text-decoration: none !important;
}

a:VISITED, a:HOVER {
	color: initial;
	text-decoration: none;
}

.img-logo {
	background: url("biciappp.png") no-repeat;
	float: left;
}

.main-bar {
	width: 100%;
	height: 50px;
	background: #1C0C4F;
	-webkit-box-shadow: 0px -1px 5px 3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px -1px 5px 3px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -1px 5px 3px rgba(0, 0, 0, 0.75);
}

.mnu-list {
	display: flex;
	float: right;
	margin: 8px;
}

.mnu-list a {
	color: #fff !important;
	font-size: 13pt;
}

.mnu-list a:hover {
	color: #F4EB49 !important;
	font-size: 13pt;
}

.mnu-li-item {
	margin: 2px 6px;
	height: 25px;
}

.mnu-selected {
	color: #F4EB49 !important
}

.li-car-desc {
	color: red;
}

.gwt-PopupPanel {
	top: 30%;
	left: 30%;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	margin: 6px;
}

.input-group-addon:first-child {
	border-right: 0;
	height: 34px;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.login-table {
	background: #CFD5E6;
	position: relative;
	margin: auto;
	top: 20px;
}

.login-table tr td {
	padding: 20px;
	color: black;
}

.login-table-header {
	color: #fff;
	font-size: 14pt;
}

.login-table tr {
	border-bottom: 1px dashed #27396D;
}

/* POP UP BAR */
.popup-bar {
	background: #1C0C4F;
	height: 32px;
	padding: 3px 0 3px 10px;
	border-radius: 3px;
}

.gwt-Label.popup-bar-title {
	font-size: 14pt;
	color: #fff;
}

/* POP UP BAR */
/*CALENDAR*/
.datePickerDayBusy {
	background: #C35454 !important;
	color: #fff !important;
}

.datePickerDaySelected {
	background: #71CA68 !important;
	color: #fff !important;
}

/* */
.list-car-image {
	height: 150px;
	border: 1px solid #1c0c4f;
	border-radius: 8px;
}

.list-car-brand {
	color: black;
	font-size: 14pt;
	font-weight: bold;
}

.list-car-reference {
	color: #6D6D4D;
	font-size: 13pt;
}

.list-car-price {
	color: #1C0C4F;
	font-size: 20pt;
}

.list-car-description {
	color: black;
	font-size: 13pt;
}

.list-car-panel {
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	padding: 5px 5px 5px 15px;
}

.gwt-PopupPanel {
	left: 20% !important;
	top: 10% !important;
	position: absolute;
	overflow: visible;
}

.dateboxes {
	display: block;
	margin:10x;
}

.popup-calendar-input {
	display: flex;
	position: relative;
	margin: auto;
}

.list-vert-panel {
	margin-left: 16px;
}

.edition-car-description{
    height: 100%;
    margin: 5px;
    border-radius: 10px;
}

.rental-list tr td {
	padding: 10px;
	border-bottom: 1px dashed #1C0C4F;
	color: black;
	font-size: 14pt;
}

.rental-list {
	background: rgba(244, 235, 73, 0.66);
	margin-top: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.rental-list .gwt-Button {
	font-size: 14pt;
	color: #1C0C4F;
}

.rent-message {
	border: 2px solid #444;
	border-radius: 5px;
	color: #fff;
	font-size: 12pt;
	padding: 10px;
	margin-top: 11px;
	line-height: 1em;
}

.none-rent {
	background: rgba(52, 140, 218, 0.32);
	color: #1C0C4F;
	border-color: #1C0C4F;
}

.active-rent {
	background: rgba(0, 146, 6, 0.29);
	border-color: #0F7B04;
	color: #1C0C4F;
}

.btn-add-car {
    font-size: 13pt;
    background: #F4EB49;
    font-weight: bold;
    color: #1C0C4F;
}